<h3>Stock</h3>
<div>
  <!-- <label>Stock name:
    <input #stockname />
  </label> -->
  <!-- <button (click)="getstock()">getStock</button> -->
  <button (click)="getstockhistory()">getStockHistory</button>
  <div [innerHTML]="comment"></div>
  <!-- <div *ngFor="let stock of stock$ | async"></div>
  <div *ngFor="let stock of stockHistory$ | async"></div> -->
  <!-- (click) passes input value to add() and then clears the input -->
  <!-- <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
  <button (click)="search(heroName.value)">
    search
  </button> -->
</div>

<ul class="stocks">
  <!-- <li *ngFor="let hero of heroes">
    <a (click)="edit(hero)">
      <span class="badge">{{ hero.id || -1 }}</span>
      <span *ngIf="hero!==editHero">{{hero.name}}</span>
      <input *ngIf="hero===editHero" [(ngModel)]="hero.name"
        (blur)="update()" (keyup.enter)="update()">
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li> -->
</ul>
